
@font-face {
    font-family: NeutralFace;
    font-weight: normal;
    src: url("fonts/NeutralFace.otf");
}

@font-face {
    font-family: NeutralFace;
    font-weight: bold;
    src: url(fonts/NeutralFace-Bold.otf);
}

/*--General--*/
body {
    margin: 0px;
    background-color: black;
}

.container {
    align-items: center;
    justify-content: space-around;
}

#logo {
    
}

/*--Main horizontal navbar--*/
header {
    background-color: black;
    color: white;
}

header div {
    display: flex;
    border-width: 3px;
}

header nav li {
    display: inline;
    font-family: NeutralFace;
    margin-inline-end: 10px;
    font-size: 12pt;
}

header a{
    color: white;
    text-decoration: none;
}

header a:hover{
    color: tomato;
}

#logo {
    font-family: NeutralFace;
    background-image: url('img/symbols/signature.png');
    padding-left: 10%;
    padding-right: 10%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/*--Drawer select slab--*/
#drawerSelect {
    background-color:tomato;
    display: flex;
    justify-content: space-around;
}

#drawerSelect h1{
    margin: 0px;
    padding: 1em;
    font-size: 20pt;
    font-family: NeutralFace;
}

.arrow {
    max-width: 40px;
    max-height: 40px;
    align-self: center;
    
}

/*--Actual art displays--*/
.artworkShowcase {
    
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.art {
    max-width: 70vw;
    max-height: 60vh;
}

.artText {
    background-color: white;
    font-family: NeutralFace;
    color: black;
    padding: 20px;
}

.artPrice {
    font-size: 8pt;
}

.artDescription {
    font-size: 10pt;
}

.even {
    background-color: white;
}

.even .artText{
    background-color: black;
    color: white;
    order: 1;
}

.even .art {
    order: 2;
}

.fadeInThing {
    animation-name: fadein;
    animation-duration: 1s;
}


@keyframes fadein {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

/*--Exhibitions--*/
.exhibitionText {
    background-color: white;
    font-family: sans-serif;
    font-size: 11pt;
    color: black;
    display: inline;
    padding: 20px;

}

/*--Footer--*/

footer{
    background: black;
    color: white;
    font-family: sans-serif;
    font-size: 10pt;
    display: flex;
    flex-direction: column;
    
    height: 100%;

    justify-content: flex-end;

    padding: 20px;
}

footer h4{
    font-weight: 100;
    font-family: 'NeutralFace';
}

footer li{
    list-style: none;
}

footer ul {
    margin: 0px;
    padding: 0px;
}

#biography {
    display: flex;
    padding: 10%;
    justify-content: center;
    font-family: sans-serif;
    background-color: black;
    color: white;
    text-align: left;
}

#biography li{
    list-style: none;
    padding: 1em;
    font-weight: bold;
    font-size: 14pt;
    display: block;

}

#biography ul {
    padding: 0px;
}

/*--Contact*/



@media screen and (max-width: 900px){
    header div{
        flex-wrap: wrap;
    }
    
    .container {
        display: block;
        text-align: center;
    }

    #logo {
        display: block;
    }

    #topNavbar ul{
        display: block;
        flex-basis: 100%;
    }

    #topNavbar li {
        display: block;
        font-size: 16pt;
        line-height: 1.5em;
    }

    .artworkShowcase{
        display: block;
    }

    .artText{
        display: block;   
    }

    .artTitle {
        font-size: 20pt;
    }

    .artDescription {
        font-size: 14pt;
    }

    .artPrice {
        font-size: 12pt;
    }

    .art {
        margin-left: auto;
        margin-right: auto;
        display: block;
        align-self: center;
    }

}